.jumbotron
{
    position: relative;
}
.container p
{
    text-align: justify;
}

#drag_message
{
    position: absolute;
    top: 30%;
    left: 30%;
}
h1
{
    font-size: 7rem;
}
.form-inline button, .form-inline input[type="text"]
{
    margin-left: 5px;
}