{% extends "layout/default" %}

{% block content %}
    <div class="jumbotron">
        <div class="content">
            <h2>Partager vos photos en toute sécurité !</h2>
            <p>
                Grâce à Image Secure, vous pouvez partager des photos avec vos amis ou votre famille
                de manière sécurisée. <br/>
                En effet, votre image sera cryptée de sorte à ce que vous soyez la seule personne à pouvoir
                la consulter (grâce à la clé que vous avez fournie lors de l'upload de l'image ou une qui sera générée par nos services).
            </p>
            <input name="file" type="file" id="file-input"/>
            <a class="btn btn-primary btn-lg" href="#" role="button" id="file-upload-btn">
                <i class="glyphicon glyphicon-upload"></i>
                Sélectionner une image
            </a>
            <h3>ou glisser l'image dans ce cadre</h3>
        </div>
    </div>
{% endblock %}