{% extends "layout/default" %}

{% block content %}
    <div class="jumbotron">
        <h2>Partenaires</h2>
        <p>
            <a href="//hcsocial.loick.fr/">HCSocial</a> le premier réseau social
            approuvé par le HCS (et le seul).
            <br/>
            <a href="//net-home.pvemu.org/">Net-Home</a> le concurrent direct
            de Google Drive.
            <br/>
            <a href="//srv0.sknz.info/Serialize/">Serialize</a> pour suivre vos
            séries (approuvé par le HCS)
        </p>
    </div>
{% endblock %}