<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>SFramework example</title>
    {{ helpers.assets.css('style') }}
    {{ helpers.assets.css('pure-form-min') }}
</head>
<body>
    {% block content %}

    {% endblock %}
</body>
</html>
