.jumbotron .progress-bar
{
    font-size: 2rem;
    font-weight: 500;
    line-height: 200%;
}
.jumbotron .progress
{
    height: 4rem;
}
.container p
{
    text-align: justify;
}
#drag_message
{
    position: absolute;
    top: 30%;
    left: 30%;
}
h1
{
    font-size: 3em;
}
h1 a, h1 a:hover, button a, button a:hover
{
    text-decoration: none;
    color: inherit;
}
a
{
    display: inline-block;
}
#file-input
{
    display:none;
}
.progress-bar
{
    transition-duration: 0.2s;
}
.remove-file
{
    cursor: pointer;
}
.remove-file:before
{
    margin-left: 5px;
}
.remove-file:hover
{
    color: #d9534f;
}
.img-responsive
{
    display: block;
    margin: auto;
    max-width: 100%;
}
.ui-navbar
{
    padding-left:0;
    margin-top:0;
}

#popupCloseRight
{
    z-index: 99999;
}
#upload-page
{
    padding-left: 10px;
    padding-right: 10px;
}
#upload-page .ui-input-text
{
    display: inline-block;
    margin-right: 5px;
}
.ui-btn-inline
{
    border-radius: 10px;
}
.progress-bar
{
    font-family: Helvetica, Arial, sans-serif;
    display: block;
    margin: auto;
    width: 85%;
    height: 50px;
    background-color: #FFF;
    border: 2px solid rgba(100,100,100,0.7);
    border-radius: 5px;
}
.progress-status
{
    display: inline-block;
    height: 100%;
    min-width: 2%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #1976D0;
    opacity: 0.8;
    color: #000;
    text-align: center;
    line-height: 300%;
    text-shadow: 0 0 0 #000;
}
.progress-success
{
    width: 100%;
    height: 100%;
    background-color: #4CAF50;
}
.mobile-page
{
    padding-left: 10px;
    padding-right: 10px;
}
#admin-page .ui-block-a
{
    padding-right: 10px;
    text-overflow: ellipsis;
}
#admin-page .ui-block-a, #admin-page .ui-block-b
{
    display: inline-block;
    width: 50%;
}
#admin-page .ui-block-a a
{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
#admin-page .ui-block-b span
{
    display: inline-block;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mobile-page form label
{
    margin-top: 10px;
}
